footer.footer_s.container
    ul.footer-list
        li: a(href="#").footer-list__link Terms of Service
        li: a(href="#").footer-list__link Privacy Policy
    p.footer_s__text © 2009  Designzzz (www.designzzz.com)
