header.header_s.container
    h1.header_s__logo Logo
    nav.header_s__menu
        ul.nav-list
            li: a(href="#").nav-list__link Home
            li: a(href="#").nav-list__link Portfolio
            li: a(href="#").nav-list__link Blog
            li: a(href="#").nav-list__link Contact
        .search
            input.search__input(type="search" placeholder="search")
            a(href="#"): img.search__img(src="static/img/svg/search.svg" width="28px" height="22px")