section.slider_s.container
    .slider_s__content
        img.slider_s__item(src="static/img/content/Slide_1.png")
        img.slider_s__item(src="static/img/content/Slide_1.png")
    img.slider_s__arrow.slider_s__arrow--left(src="static/img/svg/arrow_left.svg")
    img.slider_s__arrow.slider_s__arrow--right(src="static/img/svg/arrow_left.svg")
