section.welcome_s.container
    .welcome_s__img-comtainer
        img.welcome_s__img(src="static/img/content/Article_photo_1.png")
        img.welcome_s__img(src="static/img/content/Article_photo_2.png")
        img.welcome_s__img(src="static/img/content/Article_photo_3.png")
        img.welcome_s__img(src="static/img/content/Article_photo_4.png")
    .welcome_s__text-container
        h2.welcome_s__title Welcome to the site
        p.article__text Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer  Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer Duis autem vel Lorem ipsum Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, consectetuer 	Lorem ipsum dolor sit amet, uer uer Duis autem vel eum iriure Duis autemvel eum iriure dolor. ipsum dolor sit amet, sectetuer.
        a(href="#").link_more.link_more--welcome more...
