.footer_s{
  margin-top: 17px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  padding: 24px 0 24px 23px;
  display: flex;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  color: #545454;
}

.footer-list{
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin-right: 16px;
  &__link:hover{
    color: darken(#545454, 50%);
  }
}
